{% extends "base.html"%}
{%block title%}ADD PROJECT{%endblock%}
{%set active_page = 'events'%}
{%block content%}
<div class="container rounded bg-white mt-5 mb-5">

        <div class="border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="row">

                    <a> <h4 class="text-right add-individual mr-2" style='text-decoration: underline'>Add Single Project</h4> </a>
                    |
                    <a> <h4 class="text-right upload-cycle ml-2">Upload Project Cycle (Multiple)</h4> </a>
              
                </div>
                </div>

                <!-- ADD SINGLE PROJECT FORM-->
                <form method="POST" class="form-add-individual" action='/events'>
                    
                    <div class="row mt-2">
                        <div class="col"></div>
                        <div class="col-md-4" style="justify-content:center;"><label class="labels">Project Title</label> <input type="text" name="name" class="form-control" placeholder="Project Title"> </div>
                        <div class="col"></div>
                    </div>

                    <div class="row mt-3">
                        <div class="col"></div>
                        <div class="col-md-8" style="align-items:center"><label class="labels">Project Description</label><textarea name="project_description" class="form-control" value="" rows='6' cols='100' maxlength='500' placeholder="Description (1500 character limit)"> </textarea> </div>
                        <div class="col"></div>
                    </div>

                    <!-- image accept needed -->

                    <div class="row mt-1">
                        <div class="col"></div>
                        <div class="col-md-4" style="justify-content:center;"><label class="labels">Student Limit</label> <input type="number" name="student_limit" class="form-control" placeholder="0"> </div>
                        <div class="col"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col"></div>
                        <div class="col-md-4" style="justify-content:center;"><label class="labels">Teachers</label> <input type="text" name="teachers" class="form-control" placeholder="Teachers"> </div>
                        <div class="col"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col"></div>
                        <div class="col-md-4" style="justify-content:center;"><label class="labels">Student Assistant</label> <input type="text" name="student_assistant" class="form-control" placeholder="Student Assistant"> </div>
                        <div class="col"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="col"></div>
                        <div class="col-md-4" style="justify-content:center;"><label class="labels">Special Notes</label> <input type="text" name="special_note" class="form-control" placeholder="Special Notes"></div>
                        <div class="col"></div>
                    </div>

                    <div class="row mt-3">
                        <div class="col"></div>
                        <div class="col-3" style="display: flex; align-items: center; white-space:nowrap;">
                            <label class="labels" style="margin-right: 15px;">Cost</label>
                            <p style='font-size:12px; margin-right:10px; padding-top:10px;'> *not required*</p>
                            <span style="margin-right: 5px;">$</span>
                            <input type="number" name="cost" class="form-control" min="0.00" value="0.00" step=".01" oninput="this.value = parseFloat(this.value).toFixed(2);">
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="row mt-3">
                        <div class="col"></div>
                        <div class="col-3" style="align-items:center;">
                            <label for="cycle">Cycle:</label>
                            <select id="cycle_add" name="cycle">
                              <option value="1">1</option>
                              <option value="2">2</option>
                            </select>       
                        </div>  
                        <div class="col"></div>
                    </div>

                    


                <span></span>
                <div class="mt-5 text-center"><button type="submit" class="btn btn-primary profile-button" name='project_submit'>Add Project</button></div>
                </form>


                <!-- UPLOAD CYCLE FORM -->
                <form method="POST" class="form-upload-cycle" enctype="multipart/form-data" action='/events' style="display:none">
                    
                    <div class="row mt-3">
                        <div class="col"></div>
                        <div class="col-3" style="align-items:center;">
                            <label for="cycle">Cycle:</label>
                            <select id="cycle_upload" name="cycle">
                              <option value="1">1</option>
                              <option value="2">2</option>
                            </select>       
                        </div>  
                        <div class="col"></div>
                    </div>
                    

                    <!-- <div class="row mt-3">
                        <div class="col"></div>
                        <div class="col-md-3"> <input type="file" class="form-control update-button" name="event_pic" accept=".jpg, .png" aria-describedby="basic-addon1" required> </div>
                        <div class="col"></div>
                    </div> -->

                    <div class="row mt-3" style="justify-content:center;">
                        <div class="col"></div>
                        <div class="col-3"> <input type="file" name ='csv_file' accept='.csv' required> </div>
                        <div class="col"></div>
                    </div>

                <span></span>
                <div class="row mt-3">
                    <div class="col"></div>
                <div class="mt-5 text-center col-3"><button type="submit" class="btn btn-primary profile-button" name='cycle_submit'>Upload Cycle</button></div>
                <div class="col"></div>
                </div>
                </form>
            

            </div>
        </div>
        

</div>
<script src="{{ url_for('static', filename='assets/js/pwform.js') }}"></script>

{%endblock%}

{%block main_css%} <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet"> {%endblock%}
