{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Admin Dashboard</h2>
    <div class="list-group">
        <a href="{{ url_for('admin_users') }}" class="list-group-item list-group-item-action">Manage Users</a>
        <!-- Add more links to other admin functionalities as needed -->
    </div>
    <div class="list-group">
        <a href="{{ url_for('promote') }}" class="list-group-item list-group-item-action">Promote Users</a>
        <!-- Add more links to other admin functionalities as needed -->
    </div>
</div>
    
{% endblock %}
{% block main_css %}
<link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
{% endblock %}
