{%extends "base.html"%}
{%block title%}Calendar{%endblock%}
{%block main_css%} <link href="static/assets/css/style.css" rel="stylesheet"> {%endblock%}
{%set active_page = 'register' %}
{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/assets/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/assets/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/assets/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/assets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/assets/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/assets/css/main.css">
<!--===============================================================================================-->
	 	{%block FLASH%}
		 {% with messages = get_flashed_messages(with_categories=true) %}
		 {% if messages %}
		 {% for category, message in messages %}
		 <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
			<strong>{{ message }}</strong>
			<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
		 </div>
		 {% endfor %}
		 {% endif %}
		 {% endwith %}
		{%endblock%}
	</head>
<body>

	

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				
				<div class="row">

					<div class="col">
						<div class="login100-pic js-tilt" data-tilt>
							<img src="static/assets/img/bt logo.png" alt="IMG">
						</div>
					</div>

					<div class="col">
					<b> <p class="google-title"> Register with Google! </p> </b>
					<a href="{{ url_for('google', session_page='register') }}" class="google-button"> </a>
					<div class="text-center p-t-80">
						<a class="txt2" href="/login">
							Already have an account? Login here
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	

	
<!--===============================================================================================-->	
	<script src="static/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/assets/vendor/bootstrap/js/popper.js"></script>
	<script src="static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/assets/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="static/assets/js/login.js"></script>

</body>
</html>

{%endblock%}